<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Проверенный сервис</title>
</head>
<body>


<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand logo" href="/"></a>
    <button class="navbar-toggler" type="button" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="login.html">Мои данные</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="contests.html">Конкурсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="final_result.html">Итоговые результаты</a>
            </li>
        </ul>
    </div>
</nav>

<div id="menu_nav">
    <div class="wrap_first_row">
        <a class="logo" href="/"></a>
        <a href="#" id="hide_menu"></a>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="login.html">Мои данные</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active_link" href="contests.html">Конкурсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="final_result.html">Итоговые результаты</a>
            </li>
        </ul>
    </div>
</div>

<section class="container form_block">
    <h3 class="head_input">Список конкурсов</h3>
    <div class="table-responsive">
        <table class="table point">
            <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название конкурса</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="30px">1</td>
                <td width="350"><a href="list_command.html" class="link_command">Методика</a></td>
                <td>2</td>
            </tr>
            <tr>
                <td width="30px">2</td>
                <td><a href="list_command.html" class="link_command">Экономика</a></td>
                <td>3</td>
            </tr>
            <tr>
                <td width="30px">3</td>
                <td><a href="list_command.html" class="link_command">Энергоэффективность</a></td>
                <td>1</td>
            </tr>
            <tr>
                <td width="30px">4</td>
                <td><a href="list_command.html" class="link_command">Презентация и выступление</a></td>
                <td>2</td>
            </tr>
            <tr>
                <td width="30px">6</td>
                <td><a href="list_command.html" class="link_command">Ответы на вопросы экспертов</a></td>
                <td>3</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<script src="js/lib/jquery-3.4.1.slim.min.js"></script>
<script src="js/lib/popper.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>