<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Проверенный сервис</title>
</head>
<body>


<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-light container">
	<a class="navbar-brand logo" href="/"></a>
	<button class="navbar-toggler" type="button" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="login.html">Мои данные</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contests.html">Конкурсы</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="final_result.html">Итоговые результаты</a>
			</li>
		</ul>
	</div>
<!-- Правки по бэкэнду -->
    <a href="/accounts/login/" role="button" class="login_desktop">Войти</a>
</nav>

<div id="menu_nav">
	<div class="wrap_first_row">
		<a class="logo" href="/"></a>
		<a href="#" id="hide_menu"></a>
	</div>
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link active_link" href="login.html">Мои данные</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contests.html">Конкурсы</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="final_result.html">Итоговые результаты</a>
			</li>
		</ul>
	</div>
</div>

<!--
Классы для инпутов формы
is-invalid
is-valid

Рядом с кнопкой "Готово" есть div для указания успешной валидации
-->

<section class="container form_block">
	<h3 class="head_input first_page">Введите ваши данные</h3>
	<form>
		<!-- START Правки по бэкэнду -->
		<div class="input-field contact-face__name">
			<input type="text" id="contact-face__name" required>
			<label for="contact-face__name">Имя</label>
		</div>

		<div class="input-field contact-face__second-name">
			<input type="text" id="contact-face__second-name" required="">
			<label for="contact-face__second-name">Отчество</label>
		</div>

		<div class="input-field contact-face__surname">
			<input type="text" id="contact-face__surname" required="">
			<label for="contact-face__surname">Фамилия</label>
		</div>
		<!-- END Правки по бэкэнду -->
		<div class="form-group">
			<input type="text" class="form-control text_input" placeholder="Имя" required>
		</div>
		<div class="form-group">
			<input type="text" class="form-control text_input" placeholder="Отчество" required>
		</div>
		<div class="form-group">
			<input type="text" class="form-control text_input" placeholder="Фамилия" required>
		</div>
		<div class="wrap_btn_res">
			<button type="submit" class="btn btn-input">Готово</button>
			<!--<div class="res green"><span class="check_green"></span>Успешно</div>-->
		</div>
	</form>
</section>

<script src="js/lib/jquery-3.4.1.slim.min.js"></script>
<script src="js/lib/popper.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>