{% extends 'base.html' %}

{% block content %}
    <section class="container form_block">
        <h3 class="head_input">Итоговые результаты</h3>

        <div class="table-responsive table_block_origin">
            <!--        <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Команда/Вуз</th>
                            <th scope="col">Среднее значение по критерию</th>
                            <th>
                                <table>
                                    <tr>
                                        <th colspan="5" class="header_th">Критерий</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Методика</th>
                                        <th scope="col">Экономика</th>
                                        <th scope="col">Презентация и выступления</th>
                                        <th scope="col">Энергоэффективность</th>
                                        <th scope="col">Ответы на вопросы экспертов</th>
                                    </tr>
                                </table>
                            </th>
                            <th>Штрафные баллы</th>
                            <th>Итоговый балл(по среднему значению)</th>
                            <th>Место</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" class="bg_transparent">1</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg_transparent">2</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg_transparent">3</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg_transparent">4</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg_transparent">5</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg_transparent">6</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>            <tr>
                            <th scope="row" class="bg_transparent">7</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>            <tr>
                            <th scope="row" class="bg_transparent">8</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td class="tableall" style="vertical-align: middle">
                                <table class="width100">
                                    <tr>
                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>
                                    </tr>
                                </table>
                            </td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>

                    <br><br><br><br><br>
                    <hr>
                    <br><br><br><br><br>

                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Команда/Вуз</th>
                            <th scope="col">Среднее значение по критерию</th>

                                        <th scope="col">Методика</th>
                                        <th scope="col">Экономика</th>
                                        <th scope="col">Презентация и выступления</th>
                                        <th scope="col">Энергоэффективность</th>
                                        <th scope="col">Ответы на вопросы экспертов</th>

                            <th>Штрафные баллы</th>
                            <th>Итоговый балл(по среднему значению)</th>
                            <th>Место</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" class="bg_transparent">1</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                                        <td>4,78</td>
                                        <td>3,64</td>
                                        <td>2,87</td>
                                        <td>3,47</td>
                                        <td>3,64</td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg_transparent">2</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td>4,78</td>
                            <td>3,64</td>
                            <td>2,87</td>
                            <td>3,47</td>
                            <td>3,64</td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <th scope="row" class="bg_transparent">3</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td>4,78</td>
                            <td>3,64</td>
                            <td>2,87</td>
                            <td>3,47</td>
                            <td>3,64</td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>


                        <tr>
                            <th scope="row" class="bg_transparent">4</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td>4,78</td>
                            <td>3,64</td>
                            <td>2,87</td>
                            <td>3,47</td>
                            <td>3,64</td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <th scope="row" class="bg_transparent">5</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td>4,78</td>
                            <td>3,64</td>
                            <td>2,87</td>
                            <td>3,47</td>
                            <td>3,64</td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <th scope="row" class="bg_transparent">6</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td>4,78</td>
                            <td>3,64</td>
                            <td>2,87</td>
                            <td>3,47</td>
                            <td>3,64</td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <th scope="row" class="bg_transparent">7</th>
                            <td>Жилка/Уральский государственный горный университет</td>
                            <td>Среднее значений по критерию</td>

                            <td>4,78</td>
                            <td>3,64</td>
                            <td>2,87</td>
                            <td>3,47</td>
                            <td>3,64</td>

                            <td>0</td>
                            <td>18,40</td>
                            <td>1</td>
                        </tr>



                        </tbody>
                    </table>

                    <br><br><br><br><br>
                    <hr>
                    <br><br><br><br><br>-->


            <table class="table table-sm table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <div class="num_tab">№</div>
                    </th>
                    <th scope="col">Команда/Вуз</th>
                    <th scope="col">Среднее значение по критерию</th>
                    <th colspan="5" class="criterion_glob">
                        <table>
                            <tr>
                                <th colspan="5" class="header_th">Критерии</th>
                            </tr>
                            <tr id="kriterii">
                                <th scope="col">Методика</th>
                                <th scope="col">Экономика</th>
                                <th scope="col">Презентация и выступления</th>
                                <th scope="col">Энергоэффективность</th>
                                <th scope="col">Ответы на вопросы экспертов</th>
                            </tr>
                        </table>
                    </th>
                    <th>Штрафные баллы</th>
                    <th>Итоговый балл(по среднему значению)</th>
                    <th>Место</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="bg_transparent">1</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td width="69px">4,78</td>
                    <td width="76px">3,64</td>
                    <td width="91px">2,87</td>
                    <td width="148px">3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg_transparent">2</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td>4,78</td>
                    <td>3,64</td>
                    <td>2,87</td>
                    <td>3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg_transparent">3</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td>4,78</td>
                    <td>3,64</td>
                    <td>2,87</td>
                    <td>3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg_transparent">4</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td>4,78</td>
                    <td>3,64</td>
                    <td>2,87</td>
                    <td>3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg_transparent">5</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td>4,78</td>
                    <td>3,64</td>
                    <td>2,87</td>
                    <td>3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg_transparent">6</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td>4,78</td>
                    <td>3,64</td>
                    <td>2,87</td>
                    <td>3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg_transparent">7</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td>4,78</td>
                    <td>3,64</td>
                    <td>2,87</td>
                    <td>3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg_transparent">8</th>
                    <td><a href="#" class="link_vuz">Жилка/Уральский государственный горный университет</a></td>
                    <td>Среднее значений по критерию</td>
                    <td>4,78</td>
                    <td>3,64</td>
                    <td>2,87</td>
                    <td>3,47</td>
                    <td>3,64</td>
                    <td>0</td>
                    <td>18,40</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

{% endblock content %}
